.banner{
    width: 100%;
    height: 150px;
	position: absolute;
    display: flex;
    flex-direction: column;
	top: 0;
	left: 0;
    justify-content: center;
    align-items: center;
    background: #00b5df;
    transition: 0.5s;
}
p.banner-text{
    font-size: 20px;
    font-weight: 500;
    color: #00e5ff;
    text-align: center;
}
a.github-repo{
    font-size: 18px;
    font-weight: 500;
    color: #00c5df;
    text-decoration: none;
    margin-left: 10px;
    transition: 0.5s;
}
a.github-repo:hover{
    color: #00d5ef;
}
.banner-main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -15px;
}
.banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-main-group-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
svg.info-icon{
    width: 52.5px;
    height: 52.5px;
    margin-right: 10px;
}
g#info{
    fill: none;
}
@media screen and (max-width: 1024px) {
    .banner{
        width: 100%;
        height: 135px;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        background: #00b5df;
    }
    .banner-main-content{
        margin-bottom: -12.5px;
    }
    p.banner-text{
        font-size: 18px;
        font-weight: 500;
        color: #00e5ff;
    }
    a.github-repo{
        font-size: 16px;
        font-weight: 500;
        color: #00c5df;
        text-decoration: none;
        margin-left: 10px;
    }
    svg.info-icon{
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 785px) {
    .banner-main-content{
        margin-bottom: -8.5px;
    }
    p.banner-text{
        font-size: 16.5px;
        font-weight: 500;
        color: #00e5ff;
    }
    a.github-repo{
        font-size: 15px;
        font-weight: 500;
        color: #00c5df;
        text-decoration: none;
        margin-left: 10px;
    }
    svg.info-icon{
        width: 42.5px;
        height: 42.5px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 768px) {
    .banner{
        width: 100%;
        height: 165px;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        background: #00b5df;
    }
    .banner-main-group-content{
        margin-top: 15px;
    }
    .banner-main-content{
        margin-bottom: -15px;
    }
    .banner-text-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p.banner-text{
        font-size: 20px;
        font-weight: 500;
        color: #00e5ff;
        margin-top: 5px;
    }
    a.github-repo{
        font-size: 18px;
        font-weight: 500;
        color: #00c5df;
        text-decoration: none;
        margin-top: -10px;
        transition: 0.5s;
    }
    a.github-repo:hover{
        color: #00d5ef;
    }
    .banner-content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    svg.info-icon{
        width: 52.5px;
        height: 52.5px;
        margin-right: 15px;
    }
}
@media screen and (max-width: 625px) {
    .banner-main-group-content{
        margin-top: 12.5px;
    }
    .banner{
        width: 100%;
        height: 150px;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        background: #00b5df;
    }
    p.banner-text{
        font-size: 18px;
        font-weight: 500;
        color: #00e5ff;
    }
    a.github-repo{
        font-size: 16px;
        font-weight: 500;
        color: #00c5df;
        text-decoration: none;
        margin-left: 10px;
    }
    svg.info-icon{
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 585px) {
    .banner-main-group-content{
        margin-top: 8.5px;
    }
    .banner-main-content{
        margin-bottom: -12.5px;
    }
    p.banner-text{
        font-size: 16.5px;
        font-weight: 500;
        color: #00e5ff;
    }
    a.github-repo{
        font-size: 15px;
        font-weight: 500;
        color: #00c5df;
        text-decoration: none;
        margin-left: 10px;
    }
    svg.info-icon{
        width: 42.5px;
        height: 42.5px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 500px) {
    .banner{
        width: 100%;
        height: 232.5px;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        background: #00b5df;
    }
    .banner-main-group-content{
        margin-top: 15px;
    }
    .banner-main-content{
        margin-bottom: -18.5px;
    }
    .banner-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p.banner-text{
        font-size: 21.5px;
        font-weight: 500;
        color: #00e5ff;
        margin-top: 5px;
    }
    a.github-repo{
        font-size: 18.5px;
        font-weight: 500;
        color: #00c5df;
        text-decoration: none;
        margin-top: -10px;
        transition: 0.5s;
    }
    a.github-repo:hover{
        color: #00d5ef;
    }
    .banner-content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    svg.info-icon{
        width: 56.5px;
        height: 56.5px;
        margin-left: 15px;
    }
}
@media screen and (max-width: 450px) {
    .banner-main-group-content{
        margin-top: 12.5px;
    }
    .banner{
        width: 100%;
        height: 218.5px;
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        background: #00b5df;
    }
    .banner-main-content{
        margin-bottom: -15px;
    }
    p.banner-text{
        font-size: 20px;
        font-weight: 500;
        color: #00e5ff;
    }
    a.github-repo{
        font-size: 18px;
        font-weight: 500;
        color: #00c5df;
        text-decoration: none;
        margin-left: 10px;
    }
    svg.info-icon{
        width: 52.5px;
        height: 52.5px;
        margin-left: 15px;
    }
}
@media screen and (max-width: 425px) {
    .banner-main-group-content{
        margin-top: 8.5px;
    }
    .banner-main-content{
        margin-bottom: -12.5px;
    }
    p.banner-text{
        font-size: 18px;
        font-weight: 500;
        color: #00e5ff;
    }
    a.github-repo{
        font-size: 16px;
        font-weight: 500;
        color: #00c5df;
        text-decoration: none;
        margin-left: 10px;
    }
    svg.info-icon{
        width: 50px;
        height: 50px;
    }
}
@media screen and (max-width: 385px) {
    .banner-main-group-content{
        margin-top: 15px;
    }
    .banner{
        width: 100%;
        height: 200px;
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        background: #00b5df;
    }
    .banner-main-content{
        margin-bottom: -18.5px;
    }
    p.banner-text{
        font-size: 16px;
        font-weight: 500;
        color: #00e5ff;
    }
    a.github-repo{
        font-size: 14px;
        font-weight: 500;
        color: #00c5df;
        text-decoration: none;
        margin-left: 10px;
    }
    svg.info-icon{
        width: 42.5px;
        height: 42.5px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 350px) {
    /* first: main group */
    .banner-main-group-content{
        margin-top: 12.5px;
    }
    .banner{
        width: 100%;
        height: 185px;
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        background: #00b5df;
    }
    .banner-main-content{
        margin-bottom: -15px;
    }
    p.banner-text{
        font-size: 15px;
        font-weight: 500;
        color: #00e5ff;
    }
    a.github-repo{
        font-size: 13.5px;
        font-weight: 500;
        color: #00c5df;
        text-decoration: none;
        margin-left: 10px;
    }
    svg.info-icon{
        width: 38.5px;
        height: 38.5px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 325px) {
    /* fourth: second main group */
    .banner-main-group-content{
        margin-top: 8.5px;
    }
    .banner{
        width: 100%;
        height: 178.5px;
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        background: #00b5df;
    }
    .banner-main-content{
        margin-bottom: -12.5px;
    }
    p.banner-text{
        font-size: 14.5px;
        font-weight: 500;
        color: #00e5ff;
    }
    a.github-repo{
        font-size: 12.5px;
        font-weight: 500;
        color: #00c5df;
        text-decoration: none;
        margin-left: 10px;
    }
    svg.info-icon{
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }
}