.countdown-timer{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #00e5ff;
}
.countdown-timer section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.531rem;
}
.countdown-timer section p.numb{
    font-size: 32.5px;
    font-weight: 600;
}
.countdown-timer span.clone{
    font-size: 25px;
	font-weight: 500;
    margin-bottom: 3.5px;
}
@media screen and (max-width: 1024px) {
    .countdown-timer section p.numb{
        font-size: 28.5px;
        font-weight: 600;
    }
    .countdown-timer span.clone{
        font-size: 23.5px;
        font-weight: 500;
    }
}
@media screen and (max-width: 785px) {
    .countdown-timer section p.numb{
        font-size: 25px;
        font-weight: 600;
    }
    .countdown-timer span.clone{
        font-size: 21.5px;
        font-weight: 500;
    }
}
@media screen and (max-width: 768px) {
    .countdown-timer section p.numb{
        font-size: 32.5px;
        font-weight: 600;
    }
    .countdown-timer span.clone{
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 3.5px;
    }
}
@media screen and (max-width: 625px) {
    .countdown-timer section p.numb{
        font-size: 28.5px;
        font-weight: 600;
    }
    .countdown-timer span.clone{
        font-size: 23.5px;
        font-weight: 500;
    }
}
@media screen and (max-width: 585px) {
    .countdown-timer section p.numb{
        font-size: 25px;
        font-weight: 600;
    }
    .countdown-timer span.clone{
        font-size: 21.5px;
        font-weight: 500;
    }
}
@media screen and (max-width: 500px) {
    .countdown-timer section p.numb{
        font-size: 32.5px;
        font-weight: 600;
    }
    .countdown-timer span.clone{
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 3.5px;
    }
}
@media screen and (max-width: 450px) {
    .countdown-timer section p.numb{
        font-size: 28.5px;
        font-weight: 600;
    }
    .countdown-timer span.clone{
        font-size: 23.5px;
        font-weight: 500;
    }
}
@media screen and (max-width: 425px) {
    .countdown-timer section p.numb{
        font-size: 25px;
        font-weight: 600;
    }
    .countdown-timer span.clone{
        font-size: 21.5px;
        font-weight: 500;
    }
}
@media screen and (max-width: 385px) {
    .countdown-timer section p.numb{
        font-size: 21.5px;
        font-weight: 600;
    }
    .countdown-timer span.clone{
        font-size: 18.5px;
        font-weight: 500;
    }
}
@media screen and (max-width: 350px) {
    .countdown-timer section p.numb{
        font-size: 20px;
        font-weight: 600;
    }
    .countdown-timer span.clone{
        font-size: 18px;
        font-weight: 500;
    }
}
@media screen and (max-width: 325px) {
    .countdown-timer section p.numb{
        font-size: 18px;
        font-weight: 600;
    }
    .countdown-timer span.clone{
        font-size: 16px;
        font-weight: 500;
    }
}