.timer-container{
    margin-bottom: -28.5px;
}
.countdown-timer section p.numb,
.countdown-timer span.clone{
    font-family: 'League Spartan', sans-serif;
}
a.github-pages{
	font-size: 35px;
	font-weight: 600;
    color: #00c5df;
    margin-bottom: 15px;
    text-decoration: none;
    transition: 0.5s;
}
a.github-pages:hover{
    color: #00d5ef;
    text-decoration: underline;
}
@media screen and (max-width: 1024px) {
    .timer-container{
        margin-bottom: -25px;
    }
    a.github-pages{
        font-size: 32.5px;
        margin-top: 12.5px;
    }
}
@media screen and (max-width: 785px) {
    .timer-container{
        margin-bottom: -21.5px;
    }
    a.github-pages{
        font-size: 28.5px;
        margin-top: 8.5px;
    }
}
@media screen and (max-width: 768px) {
    .timer-container{
        margin-bottom: -42.5px;
    }
    a.github-pages{
        font-size: 35px;
        font-weight: 600;
        margin-top: 32.5px;
    }
}
@media screen and (max-width: 625px) {
    .timer-container{
        margin-bottom: -35px;
    }
    a.github-pages{
        font-size: 32.5px;
        margin-top: 25px;
    }
}
@media screen and (max-width: 585px) {
    .timer-container{
        margin-bottom: -28.5px;
    }
    a.github-pages{
        font-size: 28.5px;
        margin-top: 21.5px;
    }
}
@media screen and (max-width: 500px) {
    .timer-container{
        margin-bottom: -35px;
    }
    a.github-pages{
        font-size: 35px;
        font-weight: 600;
        margin-top: 35px;
    }
}
@media screen and (max-width: 450px) {
    .timer-container{
        margin-bottom: -28.5px;
    }
    a.github-pages{
        font-size: 32.5px;
        margin-top: 32.5px;
    }
}
@media screen and (max-width: 425px) {
    .timer-container{
        margin-bottom: -25px;
    }
    a.github-pages{
        font-size: 28.5px;
        margin-top: 25px;
    }
}
@media screen and (max-width: 385px) {
    .timer-container{
        margin-bottom: -21.5px;
    }
    a.github-pages{
        font-size: 25px;
        margin-top: 35px;
    }
}
@media screen and (max-width: 350px) {
    .timer-container{
        margin-bottom: -18.5px;
    }
    a.github-pages{
        font-size: 23.5px;
        margin-top: 32.5px;
    }
}
@media screen and (max-width: 325px) {
    .timer-container{
        margin-bottom: -15px;
    }
    a.github-pages{
        font-size: 21.5px;
        margin-top: 25px;
    }
}